# Server Configuration
PORT=8000

# Database Configuration (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=payment_wallet

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKAJS_NO_PARTITIONER_WARNING=1

# JWT Authentication
JWT_SECRET=your_jwt_secret_key_here
